<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="log4j2">
    <Appenders>
        <File name="logfile" fileName="logfile.log" append="true">
            <PatternLayout pattern="[%p] %d{yyyy-MM-dd HH:mm:ss} [%t] %m%n"/>
        </File>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{[%p] %d{yyyy-MM-dd HH:mm:ss} [%t] %m%n}{TRACE=blue}" disableAnsi="false"/>
        </Console>
    </Appenders>
    <loggers>
        <Root level="TRACE">
            <AppenderRef ref="stdout" level="TRACE"/>
            <AppenderRef ref="logfile" level="ERROR"/>
        </Root>
    </loggers>
</Configuration>